@import 'fonts';
@import 'vars';
@import 'global';
// start header
.header {
    &__top {
        background-color: $bg-grey;
    }
    &__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
    }
    &__logo {
        margin-left: 7px;
    }
    &__btn {
        padding: 10px 19px 9px 18px;
        border-radius: 18px;
        text-align: center;
        font-size: 14px;
        background-color: $blue;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
        color: #fff;
        margin-right: 48px;
        transition: all 2s;
        outline: transparent;
        &:hover {
            background-color: #fff;
            color: $blue;
        }
    }
    &__notifications {
        margin-right: 47px;
        font-size: 20px;
    }
    &__notification {
        &+& {
            margin-left: 24px;
        }
        &--alarm {
            position: relative;
            &::before {
                content: "\e858";
                font-family: 'Linearicons-Free';
                color: #7e8fa1;
            }
        }
        &--envelope {
            position: relative;
            &::before {
                content: "\e818";
                font-family: 'Linearicons-Free';
                color: #7e8fa1;
            }
        }
        &--cart {
            position: relative;
            &::before {
                content: "\e82e";
                font-family: 'Linearicons-Free';
                color: #7e8fa1;
            }
        }
    }
    &__badge {
        color: #fff;
        font-weight: 500;
        font-size: 14px;
        border: none;
        border-radius: 50%;
        padding: 3px 8px;
        position: absolute;
        top: -16px;
        right: -15px;
        transition: 2s;
        &:hover {
            color: #000;
        }
        &--red {
            background-color: #ff6a6c;
            padding: 3px 6px;
        }
        &--green {
            background-color: #62d03b;
        }
        &--blue {
            background-color: $blue;
        }
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__user-img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        display: inline-block;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 22px;
    }
    &__user-details {
        line-height: 22px;
    }
    &__user-name {
        color: #333333;
        font-size: 16px;
        font-weight: 500;
        transition: .5s;
        &:hover {
            color: $blue;
        }
        &:focus {
            color: $blue;
        }
    }
    &__user-balance {
        color: $blue;
        font-size: 15px;
        transition: .5s;
        &:hover {
            color: #333333;
        }
        &:focus {
            color: #333333;
        }
    }
    &__menu {
        background-color: #fff;
    }
    &__menu-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu-nav {
        display: flex;
        align-items: center;
        height: 80px;
    }
    &__list {
        display: inline-block;
        &+& {
            margin-left: 29px;
        }
    }
    &__list-link {
        text-transform: uppercase;
        color: #333333;
        font-weight: 500;
        font-size: 15px;
        transition: 1s;
        &:hover {
            color: $blue;
        }
        &:focus {
            color: $blue;
        }
    }
    &__menu-form {
        position: relative;
    }
    &__menu-search {
        width: 360px;
        padding: 14px 70px 14px 24px;
        border: 1px solid #d9dfe5;
        border-radius: 23px;
        font-size: 15px;
        color: #000;
        outline: transparent;
        &::placeholder {
            color: #898f96;
        }
        &:focus {
            background-color: $bg-grey;
        }
    }
    &__menu-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        border-radius: 23px;
        background-color: $blue;
        border: none;
        padding: 14px 27px;
        cursor: pointer;
        outline: transparent;
        transition: 1s;
        &::before {
            content: "\e86f";
            font-size: 15px;
            color: #fff;
            font-family: 'Linearicons-Free';
        }
        &:hover {
            background-color: #000;
        }
    }
}

// end header
// start products section
.products {
    &__create {
        background: linear-gradient( 180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    }
    &__create-inner {
        color: #f3f3f8;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 170px 50px 235px;
    }
    &__title {
        font-size: 60px;
        line-height: 70px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        &--bold {
            font-weight: 700;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        margin-top: 33px;
        margin-bottom: 68px;
    }
    &__btn {
        display: flex;
        justify-content: center;
    }
    &__btn-link {
        background-color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        color: $blue;
        border: 1px solid transparent;
        padding: 19px 31px;
        font-size: 16px;
        border-radius: 28px;
        cursor: pointer;
        transition: all 2s;
        &:hover {
            color: #fff;
            border-color: #fff;
            background-color: transparent;
        }
        &+& {
            margin-left: 30px;
        }
    }
    &__search-inner {
        position: relative;
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        padding: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: -71px;
        &::after,
        &::before {
            content: '';
            display: block;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            background-color: rgb(255, 255, 255);
            opacity: 0.5;
            transform: translateX(-50%);
            left: 50%;
            position: absolute;
        }
        &::before {
            height: 26px;
            max-width: 95%;
            width: 100%;
            top: -26px;
        }
        &::after {
            height: 13px;
            max-width: 97%;
            width: 100%;
            top: -13px;
        }
    }
    &__search-form {
        display: flex;
        max-width: 1140px;
        width: 100%;
    }
    &__search-input {
        max-width: 613px;
        width: 100%;
        border: 1px solid rgb(220, 220, 220);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: none;
        font-size: 16px;
        color: #000;
        padding: 17px 28px 18px 28px;
        outline: transparent;
        transition: 1s;
        cursor: pointer;
        &::placeholder {
            color: #676767;
        }
        &:focus {
            background-color: $bg-grey;
        }
    }
    &__search-categories {
        background-image: url(../images/products_section/chevron-down.jpg);
        background-repeat: no-repeat;
        background-position: 164px;
        color: #555555;
        border: 1px solid rgb(220, 220, 220);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 17px 34px 18px 20px;
        max-width: 194px;
        outline: transparent;
        transition: 1s;
        cursor: pointer;
        appearance: none;
        &::before {
            content: "\e874";
            font-family: 'Linearicons-Free';
            color: #676767;
            font-size: 12px;
            position: absolute;
            right: 20px;
            top: 23px;
        }
    }
    &__search-btn {
        color: #fff;
        background-color: $blue;
        height: 55px;
        padding: 0 67px;
        font-size: 16px;
        border-radius: 4px;
        cursor: pointer;
        border: none;
        margin-left: 30px;
        outline: transparent;
        transition: all 1s;
        border: 1px solid transparent;
        &:hover {
            background-color: #fff;
            color: $blue;
            border-color: $blue;
        }
    }
    &__info {
        padding: 123px 0 115px;
    }
    &__info-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    &__info-item {
        max-width: 361px;
        transition: all 2s;
        &:hover {
            border-radius: 4px;
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
    &__info-images {
        display: inline-block;
        margin-top: 41px;
        width: 115px;
        height: 115px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &__info-title {
        font-size: 24px;
        color: #000;
        padding: 29px 10px 21px;
    }
    &__info-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding: 0 33px 49px;
    }
}

// end products section
// start featured-products section
.featured-products {
    background-color: #eff1f5;
    position: relative;
    &__slider {
        padding: 120px 0;
    }
    &__slider-top {
        background-color: #fff;
        padding: 37px 30px 40px;
        margin-bottom: 50px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    &__slider-title {
        font-size: 30px;
        color: #000;
    }
    .slick-arrow {
        width: 55px;
        height: 45px;
        background-color: $violet;
        border: none;
        position: absolute;
        font-family: 'Linearicons-Free';
        font-size: 14px;
        outline: transparent;
        top: -128px;
        color: #fff;
    }
    .slick-next {
        right: 33px;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        &::before {
            content: "\e876";
        }
    }
    .slick-prev {
        right: 85px;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        &::before {
            content: "\e875";
        }
    }
    &__image-item {
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    &__slider-image {
        max-height: 450px;
        float: left;
    }
    &__slider-content {
        height: 450px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 47px 50px 24px;
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
    }
    &__content-title {
        font-weight: 500;
        font-size: 24px;
        color: #000;
        padding-bottom: 14px;
    }
    &__content-info {
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    &__content-avatar {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__content-img {
        width: 30px;
        height: 30px;
        margin-right: 9px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__content-name {
        color: #000;
    }
    &__content-item {
        display: flex;
        align-items: center;
    }
    &__content-logo {
        width: 16px;
        height: 16px;
        margin-right: 9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        border-radius: 50%;
    }
    &__content-type {
        color: $violet;
    }
    &__content-text {
        padding-top: 26px;
        padding-bottom: 33px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
    &__content-tag {
        font-size: 15px;
        display: flex;
        padding-bottom: 43px;
    }
    &__tag-link {
        color: #868c96;
        background-color: #f1f3f6;
        margin-right: 7px;
        padding: 6px 16px;
        border-radius: 14px;
    }
    &__content-bottom {
        border-top: 1px solid #ececec;
        padding-top: 23px;
    }
    &__bottom-info {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__bottom-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__bottom-price {
        background-color: #177ded;
        color: #fff;
        padding: 8px 20px;
        border-radius: 16px;
        font-weight: 500;
        font-size: 15px;
    }
    &__bottom-like {
        margin-left: 19px;
        &::before {
            content: "\e813";
            color: #8660c9;
            font-size: 15px;
            font-family: 'Linearicons-Free';
        }
    }
    &__bottom-number {
        color: #555555;
        margin-left: 6px;
    }
    &__bottom-cart {
        color: $blue;
        margin-left: 19px;
        &::before {
            content: "\e82e";
            color: $blue;
            font-size: 15px;
            font-family: 'Linearicons-Free';
        }
    }
    &__bottom-number {
        margin-left: 4px;
    }
}

// end featured-products section
// start release-products section
.release-products {
    background-color: #f6f7fb;
    padding: 120px 0;
    &__filter {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 38px 30px 37px 29px;
        margin-bottom: 28px;
    }
    &__filter-title {
        font-size: 30px;
        color: #000;
    }
    &__filter-choice {
        display: flex;
    }
    &__choice-title {
        font-size: 16px;
        color: #747b86;
    }
    &__choice-item {
        cursor: pointer;
        position: relative;
        margin-left: 25px;
    }
    &__choice-options {
        position: absolute;
        z-index: 2;
        right: -19px;
        top: 37px;
        width: 183px;
        background-color: #fff;
        border: none;
        border-radius: 3px;
        box-shadow: 0px 10px 15px 0px rgba(82, 85, 90, 0.2);
        padding: 22px 28px;
    }
    &__choice-link {
        font-size: 15px;
        line-height: 28px;
        color: #747b86;
        transition: 1s;
        &:hover {
            color: $blue;
        }
    }
    &__choice-polygon {
        position: absolute;
        top: -8px;
        right: -46px;
        z-index: 1;
    }
    &__btn {
        background-color: #fff;
        padding: 31px 30px 20px;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        margin-bottom: 29px;
    }
    &__btn-filter {
        background-color: #f1f3f6;
        padding: 9px 20px;
        margin: 0 4px 10px 0;
        border-radius: 16px;
        border: none;
        cursor: pointer;
        font-size: 15px;
        color: #747b86;
        outline: transparent;
        transition: all 1s;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
        }
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        max-width: 361px;
        margin-top: 21px;
        margin-bottom: 10px;
        max-height: 530px;
        overflow: auto;
        &:hover {
            .release-products__item-hover {
                top: 0;
                opacity: 1;
            }
        }
    }
    &__item-head {
        position: relative;
        height: 230px;
    }
    &__item-image {
        width: 100%;
        height: 100%;
        max-height: 230px;
        object-fit: cover;
    }
    &__item-hover {
        position: absolute;
        top: -100%;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-image: linear-gradient( to left, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
        opacity: 0;
        transition-duration: 0.5s;
    }
    &__hover-btn {
        padding: 13px 28px;
        border-radius: 23px;
        border: 1px solid transparent;
        background-color: #fff;
        color: $blue;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        transition: 0.3s ease-in-out;
        &:hover {
            color: #fff;
            border-color: #fff;
            background-color: transparent;
        }
        &+& {
            margin-left: 15px;
        }
    }
    &__item-inner {
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    &__inner-top {
        padding: 26px 30px;
    }
    &__inner-title {
        font-weight: 500;
        font-size: 20px;
        color: #000;
        padding-bottom: 16px;
    }
    &__inner-user {
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    &__inner-avatar {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__inner-img {
        width: 28px;
        height: 28px;
        margin-right: 7px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__inner-name {
        color: #000;
    }
    &__inner-tag {
        display: flex;
        align-items: center;
        color: $violet;
    }
    &__tag-image {
        width: 15px;
        height: 15px;
        margin-right: 9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &__inner-text {
        padding-top: 26px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
    &__inner-bottom {
        border-top: 1px solid #ececec;
        padding: 14px 30px 16px;
    }
    &__bottom-info {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__bottom-left {
        display: flex;
        align-items: center;
    }
    &__bottom-btn {
        margin-right: 16px;
        background-color: #e6f1fd;
        color: $blue;
        padding: 8px 17px;
        border-radius: 15px;
        font-weight: 500;
    }
    &__bottom-like {
        color: #6f7d8d;
        &::before {
            content: "\e813";
            color: #9066ca;
            font-size: 15px;
            font-family: 'Linearicons-Free';
            margin-right: 1px;
        }
    }
    &__bottom-cart {
        color: $blue;
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            margin-right: 7px;
            font-size: 16px;
        }
    }
    &__bottom-rate {
        display: inline-block;
        margin-left: 16px;
    }
    &__button {
        text-align: center;
        margin-top: 47px;
    }
    &__button-all {
        color: #fff;
        font-size: 16px;
        padding: 19px 33px;
        background-color: $blue;
        border-radius: 28px;
        border: none;
        cursor: pointer;
        outline: transparent;
        transition: all 1s;
        border: 1px solid transparent;
        &:hover {
            border-color: $blue;
            color: $blue;
            background-color: #fff;
        }
    }
}

// end release-products section
// start followers section
.followers {
    background-color: #eff1f5;
    &__slider {
        padding: 120px 0 116px;
    }
    .slick-arrow {
        width: 55px;
        height: 45px;
        background-color: $blue;
        border: none;
        position: absolute;
        font-family: 'Linearicons-Free';
        font-size: 14px;
        outline: transparent;
        top: -126px;
        color: #fff;
    }
    .slick-next {
        right: 31px;
        border-top-right-radius: 23px;
        border-bottom-right-radius: 23px;
        &::before {
            content: "\e876";
        }
    }
    .slick-prev {
        right: 86px;
        border-top-left-radius: 23px;
        border-bottom-left-radius: 23px;
        &::before {
            content: "\e875";
        }
    }
    &__slider-top {
        padding: 37px 29px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 50px;
    }
    &__slider-title {
        font-size: 30px;
        color: #000;
    }
    &__slider-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        // не получается как-то раскрутить эту тему-выровнять слайды 
        // .slick-track {
        //     transform: translate3d(0px, 0px, 0px) !important;
        // }
        // .slick-track div+div {
        //     margin-left: 20px;
        // }
        // .slick-slide {
        //     max-width: 361px;
        // }
    }
    &__slider-item {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        max-width: 361px;
        margin-top: 2px;
        max-height: 530px;
        overflow: auto;
    }
    &__item-image {
        width: 100%;
        height: 100%;
        height: 230px;
        object-fit: cover;
    }
    &__slider-inner {
        background-color: #fff;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    }
    &__inner-top {
        padding: 26px 30px;
    }
    &__inner-title {
        font-weight: 500;
        font-size: 20px;
        color: #000;
        padding-bottom: 16px;
    }
    &__inner-user {
        font-size: 15px;
        display: flex;
        align-items: center;
    }
    &__inner-avatar {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }
    &__inner-img {
        width: 28px;
        height: 28px;
        margin-right: 7px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    &__inner-name {
        color: #000;
    }
    &__inner-tag {
        display: flex;
        align-items: center;
        color: $violet;
    }
    &__tag-image {
        width: 15px;
        height: 15px;
        margin-right: 9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    &__inner-text {
        padding-top: 26px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
    &__inner-bottom {
        border-top: 1px solid #ececec;
        padding: 14px 30px 16px;
    }
    &__bottom-info {
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    &__bottom-left {
        display: flex;
        align-items: center;
    }
    &__bottom-btn {
        margin-right: 16px;
        background-color: #e6f1fd;
        color: $blue;
        padding: 8px 17px;
        border-radius: 15px;
        font-weight: 500;
    }
    &__bottom-like {
        color: #6f7d8d;
        &::before {
            content: "\e813";
            color: #9066ca;
            font-size: 15px;
            font-family: 'Linearicons-Free';
            margin-right: 1px;
        }
    }
    &__bottom-rate {
        display: inline-block;
        margin-left: 16px;
    }
    &__bottom-cart {
        color: $blue;
        &::before {
            content: "\e82e";
            font-family: 'Linearicons-Free';
            margin-right: 7px;
            font-size: 16px;
        }
    }
}

// end followers section
// start summary section
.summary {
    background-color: #212225;
    &__items {
        display: flex;
        justify-content: space-between;
        padding: 88px 0 95px;
    }
    &__item {
        text-align: center;
        &--orange {
            color: #feb71d;
        }
        &--blue {
            color: #58c9e9;
        }
        &--green {
            color: #77de51;
        }
        &--red {
            color: #ff6a6d;
        }
    }
    &__img {
        font-size: 48px;
        font-family: 'Linearicons-Free';
        &--orange::before {
            content: "\e84c";
        }
        &--blue::before {
            content: "\e80b";
        }
        &--green::before {
            content: "\e854";
        }
        &--red::before {
            content: "\e82b";
        }
    }
    &__amount {
        padding-top: 38px;
        font-size: 36px;
    }
    &__text {
        color: #fff;
        font-size: 18px;
        padding-top: 13px;
    }
}

// end summary section
// start reason section
.reason {
    &__inner {
        text-align: center;
        padding: 112px 0 124px;
    }
    &__title {
        color: #000;
        font-size: 36px;
        padding-bottom: 22px;
        &--blue {
            color: $blue;
        }
    }
    &__text {
        padding: 0px 208px 24px;
        color: #555555;
        font-size: 16px;
        line-height: 30px;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        margin-top: 30px;
        max-width: 361px;
        max-height: 373px;
        overflow: auto;
        padding: 10px 16px 51px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
    &__item-number {
        color: #e5eafe;
        font-weight: 300;
        font-size: 48px;
        text-align: left;
    }
    &__img {
        font-size: 60px;
        font-family: 'Linearicons-Free';
        cursor: pointer;
        &--license::before {
            color: $blue;
            content: "\e822";
        }
        &--magic-wand::before {
            color: #7f4ec2;
            content: "\e803";
        }
        &--lock::before {
            content: "\e80f";
            color: #77de51;
        }
        &--chart-bars::before {
            content: "\e843";
            color: #feb71d;
        }
        &--leaf::before {
            content: "\e849";
            color: #58c9e9;
        }
        &--phone::before {
            content: "\e831";
            color: #ff6a6d;
        }
    }
    &__item-title {
        font-size: 24px;
        color: #000;
        padding-top: 18px;
    }
    &__item-text {
        padding: 21px 12px 0px;
        font-size: 16px;
        line-height: 30px;
        color: #555555;
    }
}

// end reason section
// start shopping section
.shopping {
    display: flex;
    text-align: center;
    &__item {
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 101px 42px 103px;
    }
    &__icon-img {
        background-repeat: no-repeat;
        width: 120px;
        height: 100px;
    }
    &__title {
        padding-top: 40px;
        padding-bottom: 18px;
        font-size: 36px;
        color: #fff;
    }
    &__text {
        font-size: 16px;
        color: #fff;
        line-height: 30px;
        padding: 0px 136px 42px;
    }
    &__btn {
        background-color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        border-radius: 28px;
        font-size: 16px;
        border: 1px solid transparent;
        transition: 1s;
        &:hover {
            border: 1px solid #fff;
            color: #fff;
            background-color: transparent;
        }
        &--blue {
            padding: 18px 26px;
            color: $blue;
        }
        &--violet {
            padding: 18px 40px;
            color: $violet;
        }
    }
}

// end shopping section
// start feedback section
.feedback {
    &__inner {
        padding: 110px 0 120px;
        text-align: center;
    }
    &__title {
        padding-bottom: 21px;
        font-size: 36px;
        color: #000;
        &--blue {
            color: $blue;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding: 0px 217px 54px;
    }
    &__btn {
        font-size: 16px;
        color: #fff;
        background-color: $blue;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 18px 35px;
        border-radius: 28px;
        margin-top: 57px;
        transition: 2s;
        border: 1px solid transparent;
        &:hover {
            color: $blue;
            border-color: $blue;
            background-color: #fff;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    .slick-arrow {
        width: 50px;
        height: 50px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
        border-radius: 50px;
        border: none;
        position: absolute;
        z-index: 1;
        top: 133px;
        font-family: 'Linearicons-Free';
        font-size: 14px;
        outline: transparent;
    }
    .slick-next {
        right: -21px;
        &::before {
            content: "\e876";
            color: $blue;
        }
    }
    .slick-prev {
        left: -21px;
        &::before {
            content: "\e875";
            color: $violet;
        }
    }
    &__item {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
        border-left: 2px solid rgb(6, 116, 236);
        padding: 50px 39px 44px 29px;
        max-width: 553px;
        max-height: 315px;
        overflow: auto;
        text-align: left;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: rgb(255, 255, 255);
        &+& {
            margin-left: 29px;
        }
    }
    &__item-link {
        outline: transparent;
    }
    &__item-top {
        display: flex;
        justify-content: space-between;
    }
    &__item-client {
        display: flex;
        align-items: center;
        line-height: 34px;
    }
    &__client-avatar {
        width: 80px;
        height: 80px;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 17px;
        border-radius: 50%;
    }
    &__client-name {
        font-size: 20px;
        color: #000;
    }
    &__client-profession {
        font-size: 16px;
        color: #555555;
    }
    &__item-icon::before {
        content: "\e83f";
        font-family: 'Linearicons-Free';
        color: #e8e8e8;
        font-size: 60px;
    }
    &__item-text {
        font-size: 16px;
        color: #555555;
        line-height: 30px;
        padding-top: 20px;
    }
}

// end feedback section
// start news section
.news {
    background-color: #eff1f5;
    &__inner {
        padding: 112px 0px 118px;
    }
    &__inner-title {
        padding-bottom: 21px;
        font-size: 36px;
        color: #000;
        text-align: center;
        &--blue {
            color: $blue;
        }
    }
    &__inner-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding: 0px 224px 55px;
        text-align: center;
    }
    &__items {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 362px;
        height: 475px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        transition: 1.5s;
        overflow: auto;
    }
    &__image {
        width: 100%;
        height: 230px;
        object-fit: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &__item-top {
        padding: 24px 0px;
    }
    &__item-title {
        color: #000;
        font-weight: 500;
        font-size: 22px;
        padding: 0 23px 19px 29px;
        line-height: 27px;
    }
    &__item-text {
        font-size: 16px;
        line-height: 30px;
        color: #555555;
        padding: 0px 23px 0 30px;
    }
    &__item-bottom {
        border-top: 1px solid #ececec;
        display: flex;
        padding: 20px 30px 10px;
    }
    &__item-date {
        border-right: 1px solid #ececec;
        width: 50%;
        font-size: 15px;
        color: #999999;
        &::before {
            content: "\e864";
            font-family: 'Linearicons-Free';
            color: $blue;
            margin-right: 3px;
        }
    }
    &__item-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        font-size: 15px;
        color: #7e7e7e;
    }
    &__item-comments {
        padding-left: 33px;
        color: #7e7e7e;
        &::before {
            content: "\e83f";
            font-family: 'Linearicons-Free';
            font-size: 15px;
            margin-right: 4px;
        }
    }
    &__item-views::before {
        content: "\e81b";
        font-family: 'Linearicons-Free';
        font-size: 15px;
        margin-right: 4px;
    }
}

// end news section
// start terms section
.terms {
    &__items {
        display: flex;
        align-items: center;
        text-align: center;
    }
    &__icon {
        width: 175px;
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: center;
    }
    &__item {
        width: 50%;
        padding: 64px 20px 61px;
        display: flex;
        flex-direction: column;
        &+& {
            border-left: 1px solid #e8eaf3;
        }
    }
    &__title {
        font-size: 24px;
        color: #000;
        padding-top: 27px;
        &--violet {
            color: $violet;
            transition: 2s;
            &:hover {
                color: $blue;
            }
        }
        &--blue {
            color: $blue;
            transition: 2s;
            &:hover {
                color: $violet;
            }
        }
    }
}

// end terms section
// start join section
.join {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &__inner {
        text-align: center;
        padding: 101px 20px 110px;
    }
    &__title {
        font-size: 36px;
        color: #fff;
        padding-bottom: 22px;
    }
    &__text {
        font-size: 18px;
        color: #e7e7e7;
        padding-bottom: 50px;
    }
    &__btn {
        font-style: 16px;
        color: $blue;
        background-color: #fff;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        padding: 18px 44px 19px;
        border-radius: 28px;
        transition: all 1s;
        &:hover {
            background-color: $blue;
            color: #fff;
        }
    }
}

// end join section
// start footer
.footer {
    &__content {
        padding: 117px 0 113px;
        background-color: #262b30;
        font-size: 15px;
        color: #ababab;
    }
    &__contacts {
        max-width: 264px;
    }
    &__contacts-text {
        line-height: 28px;
        padding-bottom: 22px;
        margin-top: 21px;
    }
    &__contacts-phone {
        padding-bottom: 14px;
        color: #ababab;
        &::before {
            content: "\e830";
            font-family: 'Linearicons-Free';
            font-size: 16px;
            color: #fff;
            margin-right: 11px;
        }
    }
    &__contacts-email {
        padding-bottom: 15px;
        color: #ababab;
        &::before {
            content: "\e818";
            font-family: 'Linearicons-Free';
            font-size: 16px;
            color: #fff;
            margin-right: 12px;
        }
    }
    &__contacts-address {
        align-items: center;
        display: flex;
        line-height: 26px;
        color: #ababab;
        &::before {
            content: "\e833";
            font-family: 'Linearicons-Free';
            font-size: 16px;
            color: #fff;
            margin-right: 13px;
        }
    }
    &__summary,
    &__help {
        max-width: 160px;
    }
    &__title {
        font-size: 18px;
        line-height: 50px;
        color: #fff;
        padding-bottom: 14px;
    }
    &__list-link {
        font-size: 15px;
        line-height: 26px;
        color: #ababab;
        padding-bottom: 6px;
    }
    &__social {
        max-width: 360px;
    }
    &__text {
        line-height: 28px;
        padding-bottom: 30px;
    }
    &__form {
        position: relative;
    }
    &__form-input {
        border: none;
        background-color: #fff;
        display: block;
        width: 100%;
        height: 50px;
        color: #000;
        font-size: 15px;
        padding-left: 30px;
        padding-right: 120px;
        border-radius: 25px;
        outline: transparent;
        transition: 1s;
        &:focus {
            background-color: $bg-grey;
        }
    }
    &__form-input::placeholder {
        color: #ababab;
    }
    &__form-btn {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $blue;
        color: #fff;
        border: none;
        border-radius: 25px;
        height: 50px;
        width: 110px;
        font-size: 15px;
        cursor: pointer;
        outline: transparent;
        transition: 1s;
        &:hover {
            background-color: #000;
        }
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__social-contacts {
        display: flex;
        align-items: center;
        margin-top: 48px;
    }
    &__social-list {
        &+& {
            margin-left: 13px;
        }
    }
    &__link {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        position: relative;
        font-family: 'icomoon';
        font-size: 16px;
        color: #fff;
        &--facebook {
            background-color: #395799;
            &::before {
                content: "\f09a";
                position: absolute;
                top: 13px;
                right: 16px;
            }
        }
        &--twitter {
            background-color: #19b2f5;
            &::before {
                content: "\f099";
                position: absolute;
                top: 13px;
                right: 13px;
            }
        }
        &--google {
            background-color: #f05b44;
            &::before {
                content: "\f1a0";
                position: absolute;
                top: 13px;
                right: 16px;
            }
        }
        &--pinterest {
            background-color: #9c0c1c;
            &::before {
                content: "\f231";
                position: absolute;
                top: 13px;
                right: 16px;
            }
        }
        &--linkedin {
            background-color: #0da6be;
            &::before {
                content: "\f0e1";
                position: absolute;
                top: 13px;
                right: 13px;
            }
        }
    }
    &__copy {
        background-color: #192027;
    }
    &__copy-text {
        text-align: center;
        font-size: 15px;
        color: #999999;
        padding: 40px 0;
        &--white {
            color: #fff;
        }
    }
}

// end footer